<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/family"
        android:supportsRtl="true"
        android:theme="@style/Theme.FamilyFlow">
        <activity
            android:name=".activities.LoginTestActivity"
            android:exported="false" />
        <!-- Globales Theme für die App -->
        <activity
            android:name=".activities.Login"
            android:exported="true"
            android:theme="@style/Theme.FamilyFlow"> <!-- Spezifisches Theme für Login -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Weitere Activities -->
        <activity
            android:name=".activities.Pinnwand"
            android:exported="true"
            android:theme="@style/Theme.FamilyFlow" />
    </application>

</manifest>